
config/*
!config/config.json.example

!data/.gitkeep

# grunt tasks
build/
tmp/

# compass
config.rb
.sass-cache

# npm
npm-debug.log
node_modules/

# sublime
*.sublime-project
*.sublime-workspace

# OSX
.DS_Store
*.swp
*.lock
profile
