@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);


* {
    // Prevents the 'save image' dialog when a user holds a link or image
    -webkit-touch-callout: none;
    // Prevents link highlighting
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    // Prevent safari from resizing our text
    -webkit-text-size-adjust: none;
    // Making the box model not suck
    @include box-sizing(border-box);
    @include user-select(none);
}

html, body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  font-family: Helvetica;
  font-weight: 300;
}

.page {
  width: 320px;
  height: 568px;
  margin: 0 auto;
}

.page * {
  font-family: "Open Sans";
}

#launch-page {
}

#request-page h1 {
  display: block;
  width: 100%;
  height: 58px;
  background-color: #f3f3f3;
  color: #3cb66a;
  font-weight: 600;
  text-align: center;
  line-height: 58px;
}
#request-page .request-buttons div {
  height: 170px;
  color: #f3f3f3;
  text-align: center;
  font-size: 64px;
  font-weight: 400;
  line-height: 170px;
}
#request-page .request-buttons div:nth-child(1) {
  background-color: #3cb66a;
}
#request-page .request-buttons div:nth-child(2) {
  background-color: #38a860;
}
#request-page .request-buttons div:nth-child(3) {
  background-color: #369a5b;
}

#lenders-page {

}

#notification-page {

}

#meetup-page {
  background-color: #8da;
  position: relative;
}
#meetup-page .pulldown {
  width: 300px;
  margin: 0 auto;
  height: 30px;
  background-color: #f3f3f3;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  text-align: center;
}
#meetup-page .pulldown img {
  width: 18px;
  height: 18px;
  margin-top: 6px;
}
#meetup-page .pay {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #000;
  width: 100px;
  height: 40px;
  color: #f3f3f3;
  text-align: center;
  line-height: 40px;
  font-weight: 600;
}

#payment-page {

}
