
mixin app-directive(name)
    script(src='assets/js/app/directives/'+name+'-directive.js', defer)

mixin app-controller(name)
    script(src='assets/js/app/controllers/'+name+'-controller.js', defer)

mixin app-service(name)
    script(src='assets/js/app/services/'+name+'-service.js', defer)
