include mixins/asset-mixins
include mixins/asset-mixins-angular
include mixins/meta-tag-mixins


!!!
html(lang='en', ng-app="m")

  head
    title M

    block meta
      //- include includes/mobile-meta-tags
      meta(charset="utf-8")
      //- meta(name="google-site-verification", content="<GOOGLE ANALYTICS API KEY>")
      mixin meta-author('Banana Llama')
      mixin meta-description('AT&T Hackathon Las Vegas 2013')

    block css
      mixin css("default")
      link(rel="stylesheet", type="text/css", href="/assets/js/libs/esri.css")

    block js
      mixin js-lib("jquery")
      mixin js-lib("lodash")
      mixin js-lib("angular")
      mixin js-lib("angular.ui")
      mixin js-lib("moment")
      mixin js-lib("moment.range")
      mixin js-lib("easing")
      mixin js-lib("esri")

    block app
      mixin app-core("app")
      mixin app-controller('main')
      //- mixin app-directive('foo')
      //- mixin app-service('bar')
      mixin js-lib("animation-directive")
      :coffeescript
        app.directive 'mapPage', ->
          restrict: 'C'
          link: (scope, element) ->
            console.log 'whut'
            require(["esri/map", "esri/layers/FeatureLayer", "dojo/domReady!"], (Map, FeatureLayer) ->
              url = "http://services2.arcgis.com/N5FMD52YG8VXSFle/arcgis/rest/services/peeps/FeatureServer/0";
              featureLayer = new FeatureLayer(url);
              map = new Map("mapDiv", {
                center: [-115.187, 36.118],
                zoom: 15,
                basemap: "streets"
              })
              map.addLayer(featureLayer);
            );

  body(ng-controller="MainController")

    header
      h1 Dat App (selected page is <b>{{ selectedPage}}</b>)
      nav: ul
        li: a(href="#", ng-click="setPage('request')")
          | request page
        li: a(href="#", ng-click="setPage('searching')")
          | searching page
        li: a(href="#", ng-click="setPage('notification')")
          | notification page
        li: a(href="#", ng-click="setPage('meetup')")
          | meetup page
        li: a(href="#", ng-click="setPage('map')")
          | map page
        li: a(href="#", ng-click="setPage('payment')")
          | payment page
        li: a(href="#", ng-click="setPage('send')")
          | send page

    hr

    section.pages(ng-switch="selectedPage")

      //- section.page#launch-page(ng-switch-when="launch")
      //-   div.launch-content
      //-     img.logo(src="/assets/images/logo-white.svg")
      //-     h2 Your personal ATM.


      section.page#request-page.requestAnimation(ng-switch-when="request")
        div.page-head
          img.logo(src="/assets/images/logo-white.svg")
          h2.first Your personal ATM.
          div.black
          h2.second How much cash?
        .request-buttons
          div(ng-repeat="amount in pages.request.requestAmounts"
            , ng-click="pages.request.makeRequest(amount)")
            | ${{ amount }}

      section.page#searching-page(ng-switch-when="searching")
        h1.status Finding you $20 ...
        img.atm-search-single(src="/assets/images/atm-drop-single.gif")
        div.bottom-bar
          div.white-button Cancel

      section.page#notification-page(ng-switch-when="notification")
        h1 Notification Page

      section.page#meetup-page.drop-pin(ng-switch-when="meetup")
        img.atm-drop(src="/assets/images/atm-drop.gif")
        div.bottom-bar
          div.white-button Pay

      section.page.map-page#map-page(ng-switch-when="map")
        div#mapDiv(ng-show="showMap")

      section.page#payment-page(ng-switch-when="payment")
        h1 Payment Page

      section.page#send-page(ng-switch-when="send")
        div.getMessageListButton(ng-click="getMessageList()")
        div.sendButton(ng-click="sendMessage()")
