include mixins/asset-mixins
include mixins/asset-mixins-angular
include mixins/meta-tag-mixins


!!!
html(lang='en', ng-app="m")

  head
    title M

    block meta
      //- include includes/mobile-meta-tags
      meta(charset="utf-8")
      //- meta(name="google-site-verification", content="<GOOGLE ANALYTICS API KEY>")
      mixin meta-author('Banana Llama')
      mixin meta-description('AT&T Hackathon Las Vegas 2013')

    block css
      mixin css("default")

    block js
      mixin js-lib("jquery")
      mixin js-lib("lodash")
      mixin js-lib("angular")
      mixin js-lib("angular.ui")
      mixin js-lib("moment")
      mixin js-lib("moment.range")

    block app
        mixin app-core("app")
        mixin app-controller('main')
        //- mixin app-directive('foo')
        //- mixin app-service('bar')


  body(ng-controller="MainController")

    header
      h1 Dat App (selected page is <b>{{ selectedPage}}</b>)
      nav: ul
        li: a(href="#", ng-click="setPage('launch')")
          | launch page
        li: a(href="#", ng-click="setPage('request')")
          | request page
        //- li: a(href="#", ng-click="setPage('lenders')")
        //-   | lenders page
        li: a(href="#", ng-click="setPage('notification')")
          | notification page
        li: a(href="#", ng-click="setPage('meetup')")
          | meetup page
        li: a(href="#", ng-click="setPage('payment')")
          | payment page

    hr

    section.pages(ng-switch="selectedPage")

      section.page#launch-page(ng-switch-when="launch")
        div.launch-content
          h1 M
          h2 Your personal ATM.

      section.page#request-page(ng-switch-when="request")
        h1 How much do you need?
        .request-buttons
          div(ng-repeat="amount in pages.request.requestAmounts"
            , ng-click="pages.request.makeRequest(amount)")
            | ${{ amount }}

      //- section.page#lenders-page(ng-switch-when="lenders")
      //-   h1 Lenders Page

      section.page#notification-page(ng-switch-when="notification")
        h1 Notification Page

      section.page#meetup-page(ng-switch-when="meetup")
        div.pulldown
          img(src="/assets/images/pulldown-icon.svg")
        div.pay PAY

      section.page#payment-page(ng-switch-when="payment")
        h1 Payment Page
