include mixins/asset-mixins
include mixins/asset-mixins-angular
include mixins/meta-tag-mixins


!!!
html(lang='en', ng-app="m")

  head
    title M

    block meta
      include includes/mobile-meta-tags
      meta(charset="utf-8")
      //- meta(name="google-site-verification", content="<GOOGLE ANALYTICS API KEY>")
      mixin meta-author('Banana Llama')
      mixin meta-description('AT&T Hackathon Las Vegas 2013')

    block css
      mixin css("default")
      link(rel="stylesheet", type="text/css", href="/assets/js/libs/esri.css")

    block js
      mixin js-lib("jquery")
      mixin js-lib("lodash")
      mixin js-lib("angular")
      mixin js-lib("angular.ui")
      mixin js-lib("angular.geolocation")
      mixin js-lib("moment")
      mixin js-lib("moment.range")
      mixin js-lib("easing")
      mixin js-lib("esri")

    block app
      mixin app-core("app")
      mixin app-controller('main')
      mixin app-service("geolocation")
      mixin app-service("user")
      mixin app-service("gimbal")
      mixin app-service("m-api")
      mixin js-lib("animation-directive")
      :coffeescript

        app.directive 'mapOverlay', ($timeout) ->
          restrict: 'C'
          link: (scope, element) ->
            $element = $(element)
            $timeout ->
              $element.addClass 'show'

        app.directive 'searchingPage', (User) ->
          restrict: 'C'
          link: (scope, element) ->
            require(["esri/map", "esri/layers/FeatureLayer", "dojo/domReady!"], (Map, FeatureLayer) ->
              url = "http://services2.arcgis.com/N5FMD52YG8VXSFle/arcgis/rest/services/peeps/FeatureServer/0";
              featureLayer = new FeatureLayer(url);
              location = User.getLocation()
              console.log "Map location:", location
              searchingMap = new Map("searchingMap", {
                center: [-115.1938136, 36.1148510],
                zoom: 21,
                basemap: "streets",
                refreshInterval: 100
              })
              searchingMap.addLayer(featureLayer);
            );

        app.directive 'meetupPage', (User) ->
          restrict: 'C'
          link: (scope, element) ->
            require(["esri/map", "esri/layers/FeatureLayer", "dojo/domReady!"], (Map, FeatureLayer) ->
              url = "http://services2.arcgis.com/N5FMD52YG8VXSFle/arcgis/rest/services/peeps/FeatureServer/0";
              featureLayer = new FeatureLayer(url);
              location = User.getLocation()
              console.log "Map location:", location
              meetupMap = new Map("meetupMap", {
                center: [-115.1938136, 36.1149100],
                zoom: 21,
                basemap: "streets",
                refreshInterval: 100
              })
              meetupMap.addLayer(featureLayer);
            );


  body(ng-controller="MainController")

    //- header
    //-   h1 Dat App (selected page is <b>{{ selectedPage}}</b>)
    //-   nav: ul
    //-     li: a(href="#", ng-click="setPage('request')")
    //-       | request page
    //-     li: a(href="#", ng-click="setPage('searching')")
    //-       | searching page
    //-     li: a(href="#", ng-click="setPage('meetup')")
    //-       | meetup page
    //-     li: a(href="#", ng-click="setPage('payment')")
    //-       | payment page
    //-     li: a(href="#", ng-click="setPage('send')")
    //-       | send page

    //- hr


    section.pages(ng-switch="selectedPage")

      img.iphone(src="/assets/images/iphone5.png")

      section.page#request-page.requestAnimation(ng-switch-when="request")
        div.page-head
          img.logo(src="/assets/images/logo-white.svg")
          h2.first Your personal ATM.
          div.black
          h2.second How much cash?
        .request-buttons
          div(ng-repeat="amount in pages.request.requestAmounts"
            , ng-click="pages.request.makeRequest(amount)")
            | ${{ amount }}

      section.page.searching-page#searching-page.show-notification(ng-switch-when="searching")
        div.map#searchingMap(ng-show="showSearchingMap")
        .map-overlay
        div.notification
          div.notification-box
            h1 Andrew has accepted your request for ${{ requestedAmount }}!
            div.black-button.meetup(ng-click="pages.searching.meetup()")
              | Meetup
        h1.status Finding you ${{ requestedAmount }} ...
        div.black
        img.atm-search-single(src="/assets/images/atm-drop-single.gif")
        div.bottom-bar
          div.white-button Cancel

      section.page.meetup-page#meetup-page.drop-pin(ng-switch-when="meetup")
        div.map#meetupMap(ng-show="showMeetupMap")
        .map-overlay
        img.atm-drop(src="/assets/images/atm-drop.gif")
        div.notification
          div.notification-box
            h1 Text message sent!<br>"See you on the stage :)"
            div.black-button.okay-button(ng-click="pages.searching.meetup()")
              | Okay
        h1.gimble {{ gimbalValue }}ft
        div.bottom-bar
          div.white-button.message(ng-click="sendMessage()") Message
          div.white-button(ng-click="pages.meetup.pay()")
            | Pay

      section.page#payment-page.payment-screen(ng-switch-when="payment")
        img.logo-black(src="/assets/images/logo-black.png")
        div.profile
          img.profile-pic(src="/assets/images/profile.jpg")
          h1 Cathy Han
          h2 cathy@42debut.com
        div.payment-info
          img.visa(src="/assets/images/visa.png")
          h1 PERSONAL ****5678
        h1.total Total: $22.00
        div.black-button Confirm
